<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063546575410-ljd3dcdu7t8i7ssu60b1uikps0ku71r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063546575410-ljd3dcdu7t8i7ssu60b1uikps0ku71r0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063546575410-j07tkmcsdc65bnmhgkorp4d91l3kk5g5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBH5IUe9YR_Gr_G7Xq4LyxPFPaEBIVyhzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1063546575410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aboat.talkaboat</string>
	<key>PROJECT_ID</key>
	<string>enodi-bc</string>
	<key>STORAGE_BUCKET</key>
	<string>enodi-bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063546575410:ios:ea6ad478edae37d178fa2b</string>
</dict>
</plist>